@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
    --background: 40 33% 97%;
    --foreground: 24 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 10%;
    --primary: 142 71% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 25% 94%;
    --secondary-foreground: 25 5% 35%;
    --muted: 40 25% 94%;
    --muted-foreground: 25 5% 45%;
    --accent: 28 100% 97%;
    --accent-foreground: 21 90% 48%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 6% 90%;
    --input: 20 6% 90%;
    --ring: 142 71% 45%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 24 10% 10%;
    --card-foreground: 60 9% 98%;
    --popover: 24 10% 10%;
    --popover-foreground: 60 9% 98%;
    --primary: 142 71% 45%;
    --primary-foreground: 20 14% 4%;
    --secondary: 24 6% 15%;
    --secondary-foreground: 60 9% 98%;
    --muted: 24 6% 15%;
    --muted-foreground: 24 5% 64%;
    --accent: 24 6% 15%;
    --accent-foreground: 27 96% 61%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 9% 98%;
    --border: 24 6% 15%;
    --input: 24 6% 15%;
    --ring: 142 71% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
